.jumbotron{
    text-align:  center;
    color:  gold;
    background-color:maroon;
     } 

 #gifs-appear-here{
     text-align:  center;
 }   
 
 body{
    background-color:  gray;
    font-size:  18px;
 }